.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfplan
*.tfstate

.aws/
**/aws-credentials

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.log
logs/

# 一時ファイル
tmp/
temp/
*.tmp

node_modules/
npm-debug.log
yarn-error.log

__pycache__/
*.pyc
*.py